{{>partials/header}}
  <div class="d-flex align-items-center " style="height: calc(100vh - 56px);">
    <div class="container" style="width: 100%;">
      <div style="margin-bottom: 5px;">
        <a href="/novoUsuario" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modaAlvoCriacao"
          data-bs-whatever="@mdo">Novo usuário</a>
      </div>
      <!--modal de criar usuario-->
      {{>partials/modalCriar}}

      <table class="table table-bordered align-middle text-center table-hover table-responsive-sm align-self-center">
        <thead class="table-dark">
          <tr>
            <th class="col-1">ID</th>
            <th class="col-3">Name</th>
            <th class="col-1">Age</th>
            <th class="col-1">Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#userList}}
          <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{age}}</td>
            <td>
              <a class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#modaAlvo{{id}}"
                data-bs-whatever="@mdo">Editar</a>
              <a class="btn btn-danger btn-sm" href="/excluir/{{id}}">excluir</a>
            </td>
          </tr>
          <!--modal de edição-->
          {{>partials/modalEditar}}
          {{/userList}}
        </tbody>
      </table>
{{>partials/footer}}