{{>partials/header}}

<div class="d-flex align-items-center " style="height: calc(100vh - 56px);">

    <div class="container" style="width: 100%;">

        <div style="margin-bottom: 5px;">
            <a href="/novoUsuario" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modaAlvoCriacao" data-bs-whatever="@mdo">Novo usuário</a>
        </div>

        <table class="table table-bordered align-middle text-center table-hover table-responsive-sm align-self-center">
            <thead class="table-dark">
                <tr>
                    <th class="col-1">ID</th>
                    <th class="col-3">Name</th>
                    <th class="col-1">Age</th>
                    <th class="col-1">Actions</th>
                </tr>
            </thead>

            
            <tbody>
                {{#userList}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td>{{age}}</td>
                    <td>
                        <a class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#modaAlvo{{id}}" data-bs-whatever="@mdo">Editar</a>
                        <a class="btn btn-danger btn-sm" href="/excluir/{{id}}">excluir</a>
                    </td>
                </tr>
                <!--modal de edição-->
                <div class="modal fade" id="modaAlvo{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar usuario: {{name}}</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form method="POST" action="/editar">
                            <div class="mb-3">
                              
                              <input type="text" class="form-control" name="Nnome" placeholder="{{name}}"><br>
                              <input type="text" class="form-control" name="Nidade" placeholder="{{age}}">
                              <input type="text" class="form-control" name="identf" value="{{id}}" style="display: none;">

                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary">Salvar</button>
                              </div>

                            </div>
                          </form>
                        </div>

                      </div>
                    </div>
                </div>

                {{/userList}}
            </tbody>
        </table>


                <!--modal de criar usuario-->
                <div class="modal fade" id="modaAlvoCriacao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Criar novo usuario</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form method="POST" action="/novoUsuario">
                          <div class="mb-3">
                            <input type="text" class="form-control" name="Nnome" placeholder="Digite seu nome"><br>
                            <input type="text" class="form-control" name="Nidade" placeholder="digite sua idade">
        
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                              <button type="submit" class="btn btn-primary">Salvar</button>
                            </div>
                          </div>
                        </form>
                      </div>

        {{>partials/footer}}