{{>partials/header}}

<div class="d-flex align-items-center " style="height: calc(100vh - 56px);">

    <div class="container" style="width: 100%;">

        <div style="margin-bottom: 5px;">
            <button type="button" class="btn btn-primary">Novo usuário</button>
        </div>

        <table class="table table-bordered align-middle text-center table-hover table-responsive-sm align-self-center">
            <thead class="table-dark">
                <tr>
                    <th class="col-1">ID</th>
                    <th class="col-3">Name</th>
                    <th class="col-1">Age</th>
                    <th class="col-1">Actions</th>
                </tr>
            </thead>


            <tbody>
                <tr>
                    <td>id1</td>
                    <td>nome1</td>
                    <td>idade1</td>
                    <td>
                        <a class="btn btn-warning btn-sm" href="">Editar</a>
                        <a class="btn btn-danger btn-sm" href="">excluir</a>
                    </td>
                </tr>
            </tbody>

            
        </table>

{{>partials/footer}}
