
        <script type="text/javascript" src="/assets/js/jquery-3.6.2.min.js"></script>
        <script type="text/javascript" src="/assets/js/bootstrap.bundle.min.js"></script>
    </div>
</div>
</body>

<footer>
    <div class="text-center" style="width: 100%;">Criado por: Kaique Winicios</div>
</footer>

</html>